* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body {
  background: #000;
  color: #f6f6f6;
}
article {
  padding: 20px 80px 100px 80px;
}
a {
  color: #f6f6f6;
  text-decoration: none;
}
.banner {
  background: #212121;
  min-height: 99vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.svg {
  width: 800px;
  height: auto;
}
.banner h2 {
  font-size: 3em;
  font-weight: 500;
}
.banner span {
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #2196f3;
  color: #f6f6f6;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.btn:hover {
  color: #c6d6d8;
}
header {
  position: relative;
  background: #212121;
  top: 0;
  padding: 60px 5%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f6f6f6;
}

.list-780 {
  display: none;
}
.network a {
  font-size: 24px;
  color: #f6f6f6;
}
.network a:hover {
  color: #bac4c5;
}  
/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 99vh;
  background: #21242a;
}
.header-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
}
.phone {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
}
.content-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutBx {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  padding-left: 100px;
}
.text {
  display: flex;
  max-width: 35rem;
  text-align: justify;
  align-items: center;
  margin: 0px 2rem;
}
.aboutBx .title-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-about h2 {
  text-transform: uppercase;
}
.title-about span {
  font-size: 12px;
  letter-spacing: 2px;
}
.aboutBx .location {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
}
.location > span {
  text-align: center;
}
.Location780 {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 15%;
}
.img-about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-about > img {
  max-width: 500px;
  max-height: 250px;
  border-radius: 20%;
  box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.67);
-webkit-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.67);
}

@media (max-width: 980px) {
  .banner {
    justify-content: center;
  }
  .svg {
    display: none;
    opacity: 0;
  }
  .img-about {
    margin-top: 4rem;
  }
  .content-about {
    grid-template-columns: 1fr;
  }
  .aboutBx {
    padding: 0;
    margin-top: 1.2rem;
  }
}

@media (max-width: 780px) {
  .banner h2 {
    font-size: 2em;
  }
  .banner span {
    font-weight: 700;
  }
  .banner h3 {
    font-size: 1em;
  }
  .logo {
    display: none;
  }
  .list {
    display: none;
  }
  .banner {
    flex-direction: column;
    justify-content: space-around;
  }
  .list-780 {
    display: flex;
    gap: 5px;
  }
  .title {
    text-align: flex-start;
  }
  .img-about {
    margin: 0%;
  }
  .Location780{
    display: flex;
  }
  .location {
    display: none !important;
  }
}

@media (max-width: 680px) {
  .banner h2 {
    font-size: 2em;
  }
  .banner span {
    font-weight: 700;
  }
  .banner h3 {
    font-size: 1em;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: small;
  }
  article {
    padding: 0 10px 100px 10px;
  }
  .aboutBx {
    padding-left: 0;
  }
  .title-about {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}
