.content-nav {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0%;
  z-index: 10000;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuToggle {
  position: relative;
  width: 65px;
  height: 65px;
  background: #313131;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(10px);
}

.menuToggle::before {
  content: "+";
  font-weight: 100;
  position: absolute;
  font-size: 3em;
  color: #fff;
  transition: 1.5s;
}
.menuToggle:hover::before {
  transform: rotate(225deg);
  transition: 1s;
}
.menuToggle i {
  position: absolute;
  inset: 0;
}

.menu {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 70px;
  transform: translateY(11px);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
}
.menuToggle.active ~ .menu {
  width: 360px;
  height: 70px;
  transform: translateY(35px);
  transition-delay: 0s, 0.5s, 0.5s;
}
.menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  line-height: 80px;
}
.menu ul li {
  list-style: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));
}
.menuToggle.active ~ .menu ul li {
  opacity: 1;
  visibility: visible;
}
.menu ul li:nth-child(3) {
  width: 30px;
}
.menu ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.menu ul li:hover a {
  color: #212121;
}

@media (max-width: 740px) {
  .menuToggle {
    width: 50px;
    height: 50px;
  }

  .menuToggle::before {
    font-size: 2em;
  }
  .menu {
    width: 45px;
    height: 45px;
  }
  .menuToggle.active ~ .menu {
    width: 260px;
    height: 60px;
  }
  .menu ul {
    gap: 20px;
  }
  .menu ul li a {
    font-size: 1.6em;
  }
}
